@import "tailwindcss";

html, body, #root {
  width: 100%; 
  height: auto;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {  
  height: 100vh;   
}


.sidebar {
  width: 250px;
  background: #0d1b66;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:  20px 0px 20px 20px;
  border-top-right-radius: 30px;
}

.logo {
  margin-bottom: 30px;
}

.menu-item {
  display: flex;
  align-items: center;   /* สำคัญมาก */
  gap: 10px;
  padding: 10px 14px;
  border-bottom-left-radius: 2vh;
  border-top-left-radius:2vh ;
  cursor: pointer;
}

.add-item{
  display: flex;
  align-items: center;   /* สำคัญมาก */
  gap: 10px;
  padding: 10px 14px;
  border-bottom-left-radius: 2vh;
  border-top-left-radius:2vh ;
  cursor: pointer;
  color: white;

}

.add-item:hover {
  font-weight: 700; 
  color: white;
  transition: 0.2s ease;
}

.add-item:hover svg {
  transform: scale(1.2);
}


.menu-item.active {
  padding-right: 10vh;   /* ไม่ต้องพื้นหลังขาวทั้งกล่อง */
    background: white;
  color: #0d1b66;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.active {
  background: white;
  color: #0d1b66;
}

.project-title {
  border-top: 1px solid rgba(255,255,255,0.3);
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.7;
}

.settings {
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 15px;
}

/* MAIN */

.main {
  height: 100%;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.search {
  width: 400px;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.user {
  display: flex;
  gap: 20px;
}

/* CONTENT */

.content {
  margin-top: 30px;
}

.welcome h3 {
  margin-bottom: 5px;
}

.total-card {
  margin-top: 20px;
  background: #b9bddb;
  height: 150px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.total-card h2 {
  font-size: 28px;
}

.cat {
  position: absolute;
  right: 30px;
  top: -20px;
  width: 100px;
}

/* TASK CARDS */

.cards {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.task-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.date {
  font-size: 12px;
  opacity: 0.6;
}

.workflow {
  font-size: 12px;
  margin-bottom: 10px;
}

.progress-bar {
  height: 6px;
  background: #eee;
  border-radius: 10px;
  margin: 10px 0;
}

.progress {
  height: 6px;
  width: 70%;
  background: #1c2cff;
  border-radius: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.days {
  background: #d9ddff;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
}


